language = "csharp"
run = "mcs -out:main.exe Asistencia.cs Curso.cs Diplomado.cs Doctorado.cs Encargado.cs Estudiante.cs Evaluacion.cs Examen.cs IPagoTurno.cs IServicioCalculoPesoLaboral.cs Licenciatura.cs Magistrado.cs Maniana.cs Noche.cs NotaGeneral.cs Participacion.cs Tarde.cs Tareas.cs Titulo.cs main.cs && mono main.exe"